* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: black;
    color: white;

}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
}

h1 {
    color: #00bfff;
    text-shadow: 1px 2px 4px #fff;
    margin-bottom: 20px;
    font-size: 40px;
}

p {
    margin-bottom: 20px;
    width: 40%;
    text-align: center;
    /* font-size: 20px; */
}